@font-face {

    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {

    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.ttf');
    font-weight: bold;
    font-style: normal;
    
}

@font-face {

    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
    
}

/* variables of colors & fonts */
:root {
    --bg-color: #171717;
    --text-color: #EFEAEA;
    --accent-color: #F2DE27;
    --text-back-color: #EEEBEB; 
    --font-size-text: 1.125rem;     /* 16 px = 1 rem */
    --font-size-heading: 4rem;
    --font-size-back-text: 32rem;
}

#Web-designer, #ui-ux, #html-css {
    display:none;
}
#Web-designer .new, #ui-ux .new, #html-css .new{
    opacity: 0;
}
#Web-designer .div_opacity , #ui-ux .div_opacity , #html-css .div_opacity {
  -webkit-transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -ms-transition: opacity .1s ease-in-out;
  -o-transition: opacity .1s ease-in-out;
  transition: opacity .1s ease-in-out;
  opacity: 1;
}



/* PRELOADER */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    overflow: hidden;
    z-index: 100000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--text-color);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--accent-color);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--text-back-color);
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* ! PRELOADER ! */

/* ! variables of colors & fonts ! */

body {
    font-family: Montserrat-Regular;
    overflow: hidden;
    background-color: var(--bg-color);
    color: var(--text-color);
    position: relative;
}

/* MAIN SCREEN */

.mobile-photo {
    display: none;
}

.dekstop-photo {
    display: block;
}

#main-screen {
    position: relative !important;
}

.main-screen {
    left: 50%;
}

.hi {
    color: var(--text-back-color);
    font-size: var(--font-size-back-text);
    opacity: .1;
    z-index: 0;
    position: absolute;
    right: 5rem;
    bottom: 0rem;
}

.professions {
    margin-top: 17rem;
    margin-left: 2rem;
}

.professions h3 {
    font-family: Montserrat-Medium;
    font-size: var(--font-size-heading);
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.social-links {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    margin-left: 2rem;
}

.social-links a {
    position: relative;
    z-index: 1;
    padding: 1.5625rem 2.8125rem;
    border: 1px solid var(--text-color);
    margin-right: auto;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 62.5rem;
    transition: 1s;
}

.social-links a:hover {
    cursor: pointer;
    color: var(--bg-color);
    background-color: var(--accent-color);
    font-family: Montserrat-Bold;
    transition: 1s;
}

/* Animation of arrow down */
.arrow {
    margin-left: 1.35rem;
    text-align: center;
    position: relative;
    top: 5rem;
    left: 14rem;
    animation: move 5s infinite ease-in-out;
    z-index: 1;
}

@keyframes move {
    30%, 100% {
      opacity: 0;
      transform: translate(0, 100px);
    }
    0% {
      opacity: 0;
    }
    15% {
      opacity: 1;
    }
}

/* ! Animation of arrow down ! */
/*
#circle1 {
    width: 2rem; 
    height: 2rem;
    background: var(--accent-color);
    border-radius: 50%;
    position: absolute;
    top: 20rem;
    left: 90rem;
}

#circle2 {
    width: 2rem; 
    height: 2rem;
    background: var(--bg-color);
    border: 1px solid var(--text-color);
    border-radius: 50%;
    position: absolute;
    top: 24rem;
    left: 90rem;
}

#circle3 {
    width: 2rem; 
    height: 2rem;
    background: var(--bg-color);
    border: 1px solid var(--text-color);
    border-radius: 50%;
    position: absolute;
    top: 28rem;
    left: 90rem;
}

#circle4 {
    width: 2rem; 
    height: 2rem;
    background: var(--bg-color);
    border: 1px solid var(--text-color);
    border-radius: 50%;
    position: absolute;
    top: 32rem;
    left: 90rem;
}
*/
.onepage-wrapper .section {
    width: 100%;
    height: 100vh;
}
.onepage-pagination {
    right: 7%;
    top: 31%;
}


.onepage-pagination li a.active:before {
    /* width: 10px; */
    /* height: 10px; */
    background: var(--accent-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    /* background: none; */
    /* border: 1px solid black; */
    margin-top: -4px;
    left: auto;
}

.onepage-pagination li a:before {
    content: '';
    position: absolute;
    /*-webkit-border-radius: 10px;*/
    width: 2rem;
    height: 2rem;
    background: var(--bg-color);
    border: 1px solid var(--text-color);
    border-radius: 50%;

}

.onepage-pagination li {
    padding: 0;
    text-align: center;
    margin-top: 2rem;
}

.me {
    position: absolute;
    z-index: 0;
    width: 10vw;
    height: 100vh;
}

.me img {
    position: absolute;
    top: 4vh;
    left: -26vw;
    /* width: 70vw; */
    height: -webkit-fill-available;
}

/* ! MAIN SCREEN ! */

/* ABOUT SCREEN */


.about {
    margin-top: 14rem;
    left: 50%;
}

.about-me {
    font-family: Montserrat-Medium;
    font-size: var(--font-size-heading);
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.intro-me {
    font-family: Montserrat-Regular;
    font-size: var(--font-size-text);
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.download {
    margin-top: 3rem;
}

.download a {
    position: relative;
    z-index: 1;
    padding: 1.5625rem 2.8125rem;
    border: 1px solid var(--text-color);
    margin-right: auto;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 62.5rem;
    transition: 1s;
}

.download a:hover {
    cursor: pointer;
    color: var(--bg-color);
    background-color: var(--accent-color);
    font-family: Montserrat-Bold;
    transition: 1s;
}

/* ! ABOUT SCREEN ! */

/* PORTFOLIO SCREEN */

.portfolio {
    margin-top: 5rem;
    left: 50%;
}

.my-portfolio {
    font-family: Montserrat-Medium;
    font-size: var(--font-size-heading);
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.portfolio-images {
    margin-left: -0.75rem;
}

.portfolio-images img{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-right: 2rem;
    height: 14rem;
    border-radius: 1rem;
    cursor: pointer;
    object-fit: cover;
}

.grid-portfolio {
    display: flex;
    flex-direction: row;
}

.more-works {
    display: block;
    text-align: center;
    margin-top: 6rem;
}

.more-works a {
    position: relative;
    z-index: 1;
    padding: 1.5625rem 2.8125rem;
    border: 1px solid var(--text-color);
    margin-right: auto;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 62.5rem;
    transition: 1s;
}

.more-works a:hover {
    cursor: pointer;
    color: var(--bg-color);
    background-color: var(--accent-color);
    font-family: Montserrat-Bold;
    transition: 1s;
}


/* ! PORTFOLIO SCREEN ! */

/* CONTACT SCREEN */

.contacts {
    margin-top: 19rem;
    left: 50%;
}

.contact-me {
    font-family: Montserrat-Medium;
    font-size: var(--font-size-heading);
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.contact-text {
    font-family: Montserrat-Regular;
    font-size: var(--font-size-text);
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.contact-links {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
}

.contact-links a {
    position: relative;
    z-index: 1;
    padding: 1.5625rem 2.8125rem;
    border: 1px solid var(--text-color);
    margin-right: auto;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 62.5rem;
    transition: 1s;
    font-family: Montserrat-Bold;
}

.contact-links a:hover {
    cursor: pointer;
    color: var(--bg-color);
    background-color: var(--accent-color);
    font-family: Montserrat-Bold;
    transition: 1s;
}
/* ! CONTACT SCREEN ! */

/* POPUP */

.modal-content {
    background-color: var(--bg-color);
    width: 90vw;
    height: 70vh;
    border-radius: 2rem;
}

.modal.show .modal-dialog {
    margin: 15vh 5vw;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: nowrap;
    top: 10%;*/
}

.modal-body {
    padding: 0;
}

.popup {
    display: flex;
    padding: 0;
    flex-direction: row;
}

.webui {
    margin-left: -1rem;
    border-radius: 2rem 0 0 2rem;
    height: -webkit-fill-available;
    width: 100%;
    object-fit: scale-down;
    background-color: #fff;
}

.popup-links {
    margin-top: 4rem;
}

.popup-links a {
    position: relative;
    z-index: 1;
    padding: 1.5625rem 2.8125rem;
    border: 1px solid var(--text-color);
    margin-right: 4rem;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 62.5rem;
    transition: 1s;
}

.popup-links a.learn-more {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

.popup-links a:hover {
    cursor: pointer;
    color: var(--bg-color);
    background-color: var(--accent-color);
    font-family: Montserrat-Bold;
    transition: 1s;
}

/*.button.close {
    width: auto;
    height: fit-content;
    color: var(--text-color);
}*/

.close {
    margin-top: 0.5rem;
    opacity: 1;
}

.webui-heading {
    font-family: Montserrat-Medium;
    font-size: var(--font-size-heading);
    margin-bottom: 3rem;
    position: relative;
    z-index: 1;
    margin-top: 6rem;
}

.webui-text {
    font-family: Montserrat-Regular;
    font-size: var(--font-size-text);
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    padding: 0;
}

/* ADAPTIVE */

@media screen and (max-width: 575px) {
   /* variables of colors & fonts for max-width: 575px;*/
   :root {
    --bg-color: #171717;
    --text-color: #EFEAEA;
    --accent-color: #F2DE27;
    --text-back-color: #EEEBEB; 
    --font-size-text: 0.875rem;     /* 16 px = 1 rem */
    --font-size-heading: 1.5rem;
    --font-size-back-text: 9rem;
    } 
    html, body {
        min-height: 100vh;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    main {
        flex-grow: 1;
    }
    .onepage-pagination li a.active:before {
        top: 80%;
    }
    .onepage-pagination {
        display: flex;
        flex-direction: row;
        right: 0;
        top: 0;
        left: 0;
        position: absolute;
        justify-content: center;
    }
    .onepage-pagination li {
        margin-right: 2rem;
        margin-top: 1rem;
    }
    #main-screen {
        top: 0%;
        left: 0px;
    }
    .main-screen {
        left: 2rem;
        width: 100%;
        height: 100%;
        top: -12rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile-photo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .dekstop-photo {
        display: none;
    }
    .hi {
        width: 100%;
        right: 0;
        /*left: -2rem;*/
        text-align: center;
        bottom: 0;
        position: fixed;
        left: auto;
        top: 5rem;
        display: flex;
        justify-content: center;
        height: 100%;
    }
    .professions {
        margin-top: 17rem;
        margin-left: -3rem;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .professions h3 {
        margin-bottom: 1rem;
    }
    .me {
        height: 50vh;
        /*left: 50%;*/
        /*top: -45rem;*/
        width: auto;
        left: 0;
        /*position: fixed;*/
        top: 0;
        position: relative;
    }
    .me img {
        width: auto;
        position: relative;
        top: -70vh;
        /*position: fixed;
        width: -webkit-fill-available;*/
        height: auto;
        max-height: 90%;
        /*top: 63vh;*/
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-grow: 0;
    }
    .social-links {
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
        display: flex;
        margin-top: 0;
        margin-right: 3rem;
    }
    .social-links a {
        padding: 0.75rem 3.375rem;
        margin-top: 1rem;
    }
    .about {
        /*margin-top: 14rem;*/
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        justify-content: center;
    }
    .about-me {
        text-align: center;
    }
    .download {
        margin-top: 1rem;
    }
    .download a {
        padding: 0.75rem 3.375rem;
    }
    .portfolio {
        /*left: 0;*/
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: -25%;
        top: -10%;
    }
    
    .portfolio-images {
        width: 50%;
    }
    .portfolio-images img {
        height: 100%;
    }
    .my-portfolio {
        text-align: center;
        left: 25%;
    }
    .contacts {
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        justify-content: center;
    }
    .contact-links{
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
        display: flex;
        margin-top: 0;
    }

    .contact-links a{
        padding: 0.75rem 3.375rem;
        margin-top: 1rem;
        margin-right: 0;
        text-align: center;
    }
    .arrow-first {
        top: 40vh;
        position: fixed;
        display: flex;
        left: 0;
        margin: auto;
        right: 0;
        bottom: 0;
    }
    .arrow-second {
        top: 270vh;
        position: fixed;
        display: flex;
        left: 0;
        margin: auto;
        right: 0;
        bottom: 0;
    }
    .arrow-third {
        top: 463vh;
        position: fixed;
        display: flex;
        left: 0;
        margin: auto;
        right: 0;
        bottom: 0;
    }
    /*.arrow {
        top: 300vh;
        position: fixed;
        display: flex;
        left: 0;
        margin: auto;
        right: 0;
        bottom: 0;
    }*/
    .webui {
        border-radius: 0 0 2rem 2rem;
        width: 90vw;
        margin-top: 0;
        height: 30vh;
    }
    .webui-heading {
        margin-bottom: 1rem;
        width: auto;
        z-index: 0;
        text-align: center;
        margin-top: 3rem;
    }
    .popup {
        flex-direction: column-reverse;
    }
    .popup-image {
        display: none;
    }
    .popup-links {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: var(--font-size-text);
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .popup-links a.learn-more {
        padding: 0.75rem 4.75rem;
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .popup-links a {
        padding: 0.75rem 5.375rem;
        margin-right: 0;
    }
    .modal.show .modal-dialog {
        margin: 3vh 5vw;
    }
    .modal-content {
        height: auto;
        background-color: var(--bg-color);
        width: 90vw;
        border-radius: 2rem;
    }
    .close {
        z-index: 1;
        position: absolute;
        left: 38vw;
    }
    .more-works a {
        width: 120px;
        height: 70px;
        padding: 18px 25px;
        font-size: var(--font-size-text);
        display: -webkit-box;
        margin-top: -5rem;
        padding-top: 1rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) { 
   /* variables of colors & fonts for min-width: 576px;*/
   :root {
    --bg-color: #171717;
    --text-color: #EFEAEA;
    --accent-color: #F2DE27;
    --text-back-color: #EEEBEB; 
    --font-size-text: 1rem;     /* 16 px = 1 rem */
    --font-size-heading: 2rem;
    --font-size-back-text: 20.625rem;
    } 
    .onepage-pagination li a.active:before {
        top: 80%;
    }
    .onepage-pagination {
        display: flex;
        flex-direction: row;
        right: 0;
        top: 0;
        left: 0;
        position: absolute;
        justify-content: center;
    }
    .onepage-pagination li {
        margin-right: 2rem;
        margin-top: 1rem;
    }
    .main-screen {
        left: 2rem;
        width: 100%;
        height: 100%;
        top: -9rem;
    }
    .mobile-photo {
        display: block;
    }

    .dekstop-photo {
        display: none;
    }
    .hi {
        right: 5rem;
        bottom: 35rem;
    }
    .professions {
        margin-top: 17rem;
        margin-left: 6rem;
    }
    .me {
        height: 50vh;
        left: 0;
        top: -45rem;
    }
    .me img {
        position: relative;
        left: -2rem;
    }
    .about {
        margin-top: 14rem;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .portfolio {
        left: 0;
        width: 100%;
        height: 100%;
    }
    .portfolio-images {
        width: 50%;
    }
    .contacts {
        left: 0;
    }
    .arrow-first {
        top: 40vh;
        position: fixed;
        display: flex;
        left: 0;
        margin: auto;
        right: 0;
        bottom: 0;
    }
    .arrow-second {
        top: 300vh;
        position: fixed;
        display: flex;
        left: 0;
        margin: auto;
        right: 0;
        bottom: 0;
    }
    .arrow-third {
        top: 560vh;
        position: fixed;
        display: flex;
        left: 0;
        margin: auto;
        right: 0;
        bottom: 0;
    }
    /*.arrow {
        top: 300vh;
        position: fixed;
        display: flex;
        left: 0;
        margin: auto;
        right: 0;
        bottom: 0;
    }*/
    .webui {
        border-radius: 0 0 2rem 2rem;
        width: 90vw;
        height: 46vh;
        margin-top: 7vh;
    }
    .webui-heading {
        margin-top: 2rem;
        margin-bottom: 1rem;
        width: auto;
        z-index: 0;
    }
    .popup {
        flex-direction: column-reverse;
    }
    .modal.show .modal-dialog {
        margin: 3vh 5vw;
    }
    .close {
        z-index: 1;
        position: absolute;
        left: 93%;
    }
    .more-works a {
        white-space: pre;
    }
}

/* SPECIAL FOR iPad */
@media screen and (width: 768px) and (orientation: portrait) {
    :root {
        --bg-color: #171717;
        --text-color: #EFEAEA;
        --accent-color: #F2DE27;
        --text-back-color: #EEEBEB; 
        --font-size-text: 1rem;     /* 16 px = 1 rem */
        --font-size-heading: 2rem;
        --font-size-back-text: 20.625rem;
    } 
    .onepage-pagination li a.active:before {
        top: 80%;
    }
    .onepage-pagination {
        display: flex;
        flex-direction: row;
        right: 0;
        top: 0;
        left: 0;
        position: absolute;
        justify-content: center;
    }
    .onepage-pagination li {
        margin-right: 2rem;
        margin-top: 1rem;
    }
    .main-screen {
        left: 2rem;
        width: 100%;
        height: 100%;
        top: -9rem;
    }
    .mobile-photo {
        display: block;
    }

    .dekstop-photo {
        display: none;
    }
    .hi {
        bottom: 46rem;
        right: 10rem;
    }
    .professions {
        margin-top: 17rem;
        margin-left: 12rem;
    }
    .social-links {
        margin-left: 6rem;
    }
    .me {
        height: 50vh;
        left: 0;
        top: -45rem;
    }
    .me img {
        position: relative;
        left: 1rem;
        top: -4rem;
    }
    .about {
        margin-top: 14rem;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .about-me {
        text-align: center;
    }
    .intro-me {
        margin-left: 3rem;
    }
    .download {
        text-align: center;
    }
    .my-portfolio {
        text-align: center;
    }
    .portfolio {
        left: 0;
        width: 100%;
        height: 100%;
        margin-top: 7rem;
    }
    .portfolio-images {
        width: 50%;
    }
    .contacts {
        left: 0;
    }
    .contact-me {
        text-align: center;
    }
    .contact-text {
        display: flex;
        justify-content: center;
    }
    .contact-links {
        margin-left: 7rem;
    }
    .arrow-first {
        top: 40vh;
        position: fixed;
        display: flex;
        left: 0;
        margin: auto;
        right: 0;
        bottom: 0;
    }
    .arrow-second {
        top: 300vh;
        position: fixed;
        display: flex;
        left: 0;
        margin: auto;
        right: 0;
        bottom: 0;
    }
    .arrow-third {
        top: 560vh;
        position: fixed;
        display: flex;
        left: 0;
        margin: auto;
        right: 0;
        bottom: 0;
    }
    /*.arrow {
        top: 300vh;
        position: fixed;
        display: flex;
        left: 0;
        margin: auto;
        right: 0;
        bottom: 0;
    }*/
    .webui {
        border-radius: 0 0 2rem 2rem;
        width: 90vw;
        height: 46vh;
        margin-top: 7vh;
    }
    .webui-heading {
        margin-top: 2rem;
        margin-bottom: 1rem;
        width: auto;
        z-index: 0;
    }
    .popup {
        flex-direction: column-reverse;
    }
    .modal.show .modal-dialog {
        margin: 3vh 5vw;
    }
    .close {
        z-index: 1;
        position: absolute;
        left: 93%;
    }
    .more-works a {
        white-space: pre;
    }
}

/* SPECIAL FOR iPad Pro */
@media screen and (width: 1024px) and (orientation: portrait) {
    :root {
        --bg-color: #171717;
        --text-color: #EFEAEA;
        --accent-color: #F2DE27;
        --text-back-color: #EEEBEB; 
        --font-size-text: 1.125rem;     /* 16 px = 1 rem */
        --font-size-heading: 3.25rem;
        --font-size-back-text: 25rem;
    }
    .me {
        height: 93vh;
        top: 7vh;
    }
    .me img {
        left: -8vw !important;
        width: 1000%;
        top: 37vh;
        height: auto;
    }
    .social-links a {
        margin-right: 9rem;
    }
    .main-screen {
        top: -13rem;
        left: 14rem !important;
    }
    .hi {
        right: 28rem;
        bottom: 3rem;
    }
    .about {
        margin-top: 5rem;
        left: 10rem !important;
    }
    .portfolio {
        left: 9rem !important;
    }
    .portfolio-images .vou-shop {
        width: 34%;
    }
    .portfolio-images img {
        width: auto;
    }
    .more-works a{
        left: -38%;
    }
    .popup-links {
        margin-top: 3rem;
    }
    .popup-links a {
        margin-right: 1.8rem;
    }
    .webui-heading {
        margin-top: 3rem;
    }
    .contacts {
        left: 15rem !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    /* variables of colors & fonts for min-width: 900px;*/
    :root {
        --bg-color: #171717;
        --text-color: #EFEAEA;
        --accent-color: #F2DE27;
        --text-back-color: #EEEBEB; 
        --font-size-text: 1rem;     /* 16 px = 1 rem */
        --font-size-heading: 2rem;
        --font-size-back-text: 20.625rem;
    } 
    .main-screen {
        left: 10%;
        width: 100%;
        height: 100%;
        top: -13rem;
    }
    .mobile-photo {
        display: block;
    }
    
    .dekstop-photo {
        display: none;
    }
    .hi {
        right: 12rem;
        bottom: 35rem;
    }
    .professions {
        margin-top: 17rem;
        margin-left: 10rem;
    }
    .me {
        height: 50vh;
        justify-content: center;
        display: flex;
        width: -webkit-fill-available;
        top: -45rem;
    }
    .me img {
        left: 0;
        right: 0;
        margin: auto;
    }
    .about {
        margin-top: 14rem;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .portfolio {
        left: 0;
        width: 100%;
        height: 100%;
    }
    .portfolio-images {
        width: 50%;
    }
    .contacts {
        left: 0;
    }
    .arrow-first {
        left: 25vw !important;
        top: 50%;
    }
    .arrow {
        left: 32vw;
        top: 50%;
    }
    .webui {
        border-radius: 0 0 2rem 2rem;
        width: 90vw;
        height: 46vh;
        margin-top: 7vh;
    }
    .webui-heading {
        margin-top: 2rem;
        margin-bottom: 1rem;
        width: auto;
        z-index: 0;
    }
    .popup {
        flex-direction: column-reverse;
    }
    .modal.show .modal-dialog {
        margin: 3vh 5vw;
    }
    .close {
        z-index: 1;
        position: absolute;
        left: 93%;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) { 
    /* variables of colors & fonts for min-width: 900px;*/
    :root {
        --bg-color: #171717;
        --text-color: #EFEAEA;
        --accent-color: #F2DE27;
        --text-back-color: #EEEBEB; 
        --font-size-text: 1.125rem;     /* 16 px = 1 rem */
        --font-size-heading: 3.25rem;
        --font-size-back-text: 25rem;
    }
    .me {
        height: 93vh;
        top: 7vh;
    }
    .me img {
        left: -50vw;
    }
    .social-links a {
        margin-right: 9rem;
    }
    .main-screen {
        left: 31%;
    }
    .hi {
        right: 28rem;
        bottom: 3rem;
    }
    .about {
        left: 30%;
    }
    .portfolio {
        left: 28%;
    }
    .portfolio-images .vou-shop {
        width: 34%;
    }
    .portfolio-images img {
        width: auto;
    }
    .more-works a{
        left: -38%;
    }
    .popup-links {
        margin-top: 3rem;
    }
    .popup-links a {
        margin-right: 1.8rem;
    }
    .webui-heading {
        margin-top: 3rem;
    }
    .contacts {
        left: 35%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1799px) { 
    .main-screen {
        left: 38vw;
        width: 100%;
        height: 100%;
    }
    .hi {
        top: -10rem;
        right: 3rem;
    }
    .about {
        margin-top: 21vh;
        left: 35vw;
        width: 100%;
        height: 100%;
    }
    .portfolio {
        margin-top: 10vh;
        left: 35vw;
        width: 100%;
        height: 100%;
    }
    .contacts {
        margin-top: 30vh;
        left: 39vw;
        width: 100%;
        height: 100%;
    }
    .webui-heading {
        margin-top: 4rem;
    }
}

@media screen and (min-width: 1800px) { 
    .me img{
        left: -36vw;
    }
    .main-screen {
        left: 50%;
        top: 15%;
    }
    .about {
        top: 25%;
        margin-top: 0;
    }
    .portfolio {
        top: 25%;
        margin-top: 0;
    }
    .contacts {
        top: 25%;
        margin-top: 0;
    }
}
