@font-face {

    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {

    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.ttf');
    font-weight: bold;
    font-style: normal;
    
}

@font-face {

    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
    font-weight: bold;
    font-style: normal;
    
}

/* variables of colors & fonts */
:root {
    --bg-color: #171717;
    --text-color: #EFEAEA;
    --accent-color: #F2DE27;
    --text-back-color: #EEEBEB; 
    --font-size-text: 1.125rem;     /* 16 px = 1 rem */
    --font-size-heading: 4rem;
    --font-size-back-text: 32rem;
}

/* ! variables of colors & fonts ! */

body {
    font-family: Montserrat-Regular;
    overflow: hidden;
    background-color: var(--bg-color);
    color: var(--text-color);
    position: relative;
}

/* MAIN SCREEN */

#main-screen {
    position: relative !important;
}

.main-screen {
    left: 50%;
}

.hi {
    color: var(--text-back-color);
    font-size: var(--font-size-back-text);
    opacity: .1;
    z-index: 0;
    position: absolute;
    right: 5rem;
    bottom: 0rem;
}

.professions {
    margin-top: 17rem;
    margin-left: 2rem;
}

.professions h3 {
    font-family: Montserrat-Medium;
    font-size: var(--font-size-heading);
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.social-links {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    margin-left: 2rem;
}

.social-links a {
    position: relative;
    z-index: 1;
    padding: 1.5625rem 2.8125rem;
    border: 1px solid var(--text-color);
    margin-right: auto;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 62.5rem;
    transition: 1s;
}

.social-links a:hover {
    cursor: pointer;
    color: var(--bg-color);
    background-color: var(--accent-color);
    font-family: Montserrat-Bold;
    transition: 1s;
}

/* Animation of arrow down */
.arrow {
    margin-left: 1.35rem;
    text-align: center;
    position: relative;
    top: 5rem;
    left: 14rem;
    animation: move 5s infinite ease-in-out;
    z-index: 1;
}

@keyframes move {
    30%, 100% {
      opacity: 0;
      transform: translate(0, 100px);
    }
    0% {
      opacity: 0;
    }
    15% {
      opacity: 1;
    }
}

/* ! Animation of arrow down ! */
/*
#circle1 {
    width: 2rem; 
    height: 2rem;
    background: var(--accent-color);
    border-radius: 50%;
    position: absolute;
    top: 20rem;
    left: 90rem;
}

#circle2 {
    width: 2rem; 
    height: 2rem;
    background: var(--bg-color);
    border: 1px solid var(--text-color);
    border-radius: 50%;
    position: absolute;
    top: 24rem;
    left: 90rem;
}

#circle3 {
    width: 2rem; 
    height: 2rem;
    background: var(--bg-color);
    border: 1px solid var(--text-color);
    border-radius: 50%;
    position: absolute;
    top: 28rem;
    left: 90rem;
}

#circle4 {
    width: 2rem; 
    height: 2rem;
    background: var(--bg-color);
    border: 1px solid var(--text-color);
    border-radius: 50%;
    position: absolute;
    top: 32rem;
    left: 90rem;
}
*/
.onepage-wrapper .section {
    width: 100%;
    height: 100vh;
}
.onepage-pagination {
    right: 7%;
    top: 31%;
}


.onepage-pagination li a.active:before {
    /* width: 10px; */
    /* height: 10px; */
    background: var(--accent-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    /* background: none; */
    /* border: 1px solid black; */
    margin-top: -4px;
    left: auto;
}

.onepage-pagination li a:before {
    content: '';
    position: absolute;
    /*-webkit-border-radius: 10px;*/
    width: 2rem;
    height: 2rem;
    background: var(--bg-color);
    border: 1px solid var(--text-color);
    border-radius: 50%;

}

.onepage-pagination li {
    padding: 0;
    text-align: center;
    margin-top: 2rem;
}

.me {
    position: absolute;
    z-index: 0;
    width: 10vw;
    height: 100vh;
}

.me img {
    position: absolute;
    top: 4vh;
    left: -26vw;
    /* width: 70vw; */
    height: -webkit-fill-available;
}

/* ! MAIN SCREEN ! */

/* ABOUT SCREEN */


.about {
    margin-top: 14rem;
    left: 50%;
}

.about-me {
    font-family: Montserrat-Medium;
    font-size: var(--font-size-heading);
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.intro-me {
    font-family: Montserrat-Regular;
    font-size: var(--font-size-text);
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.download {
    margin-top: 3rem;
}

.download a {
    position: relative;
    z-index: 1;
    padding: 1.5625rem 2.8125rem;
    border: 1px solid var(--text-color);
    margin-right: auto;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 62.5rem;
    transition: 1s;
}

.download a:hover {
    cursor: pointer;
    color: var(--bg-color);
    background-color: var(--accent-color);
    font-family: Montserrat-Bold;
    transition: 1s;
}

/* ! ABOUT SCREEN ! */

/* PORTFOLIO SCREEN */

.portfolio {
    margin-top: 5rem;
    left: 50%;
}

.my-portfolio {
    font-family: Montserrat-Medium;
    font-size: var(--font-size-heading);
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.portfolio-images img{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-right: 2rem;
    height: 14rem;
    border-radius: 1rem;
    cursor: pointer;
}

.grid-portfolio {
    display: flex;
    flex-direction: row;
}

.more-works {
    display: block;
    text-align: center;
    margin-top: 6rem;
}

.more-works a {
    position: relative;
    z-index: 1;
    padding: 1.5625rem 2.8125rem;
    border: 1px solid var(--text-color);
    margin-right: auto;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 62.5rem;
    transition: 1s;
}

.more-works a:hover {
    cursor: pointer;
    color: var(--bg-color);
    background-color: var(--accent-color);
    font-family: Montserrat-Bold;
    transition: 1s;
}


/* ! PORTFOLIO SCREEN ! */

/* CONTACT SCREEN */

.contacts {
    margin-top: 19rem;
    left: 50%;
}

.contact-me {
    font-family: Montserrat-Medium;
    font-size: var(--font-size-heading);
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.contact-text {
    font-family: Montserrat-Regular;
    font-size: var(--font-size-text);
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.contact-links {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
}

.contact-links a {
    position: relative;
    z-index: 1;
    padding: 1.5625rem 2.8125rem;
    border: 1px solid var(--text-color);
    margin-right: auto;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 62.5rem;
    transition: 1s;
    font-family: Montserrat-Bold;
}

.contact-links a:hover {
    cursor: pointer;
    color: var(--bg-color);
    background-color: var(--accent-color);
    font-family: Montserrat-Bold;
    transition: 1s;
}
/* ! CONTACT SCREEN ! */

/* POPUP */

.modal-content {
    background-color: var(--bg-color);
    width: 90vw;
    height: 70vh;
    border-radius: 2rem;
}

.modal.show .modal-dialog {
    margin: 15vh 5vw;
}

.modal-body {
    padding: 0;
}

.popup {
    display: flex;
    padding: 0;
    flex-direction: row;
}

.webui {
    width: 100%;
    margin-left: -1rem;
    border-radius: 2rem 0 0 2rem;
    height: -webkit-fill-available;
}

.popup-links {
    margin-top: 4rem;
}

.popup-links a {
    position: relative;
    z-index: 1;
    padding: 1.5625rem 2.8125rem;
    border: 1px solid var(--text-color);
    margin-right: 4rem;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 62.5rem;
    transition: 1s;
}

.popup-links a.learn-more {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

.popup-links a:hover {
    cursor: pointer;
    color: var(--bg-color);
    background-color: var(--accent-color);
    font-family: Montserrat-Bold;
    transition: 1s;
}

/*.button.close {
    width: auto;
    height: fit-content;
    color: var(--text-color);
}*/

.close {
    margin-top: 0.5rem;
    opacity: 1;
}

.webui-heading {
    font-family: Montserrat-Medium;
    font-size: var(--font-size-heading);
    margin-bottom: 3rem;
    position: relative;
    z-index: 1;
    margin-top: 6rem;
}

.webui-text {
    font-family: Montserrat-Regular;
    font-size: var(--font-size-text);
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    padding: 0;
}

/* ADAPTIVE */

@media (max-width: 599px) { 
   
}

@media (min-width: 600px) { 
    
}

@media (min-width: 900px) { 
    
}

@media (min-width: 1200px) { 
    .main-screen {
        left: 38vw;
        width: 100%;
        height: 100%;
    }
    .hi {
        top: -10rem;
        right: 3rem;
    }
    .about {
        margin-top: 21vh;
        left: 35vw;
        width: 100%;
        height: 100%;
    }
    .portfolio {
        margin-top: 10vh;
        left: 35vw;
        width: 100%;
        height: 100%;
    }
    .contacts {
        margin-top: 30vh;
        left: 39vw;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1800px) { 
    .me img{
        left: -36vw;
    }
    .main-screen {
        left: 50%;
        top: 15%;
    }
    .about {
        top: 25%;
        margin-top: 0;
    }
    .portfolio {
        top: 25%;
        margin-top: 0;
    }
    .contacts {
        top: 25%;
        margin-top: 0;
    }
}
